[Unit]
Description=Mastodon - preview cards remove service
Wants=mastodon-preview_cards-remove.timer

[Service]
# Update these settings:
User=USER
Group=USER
WorkingDirectory=/PATH/TO/MASTODON

Type=oneshot
StandardError=null
StandardOutput=null
ExecStart=/usr/local/bin/docker-compose run --rm shell tootctl preview_cards remove
NotifyAccess=all
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
